@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "ChakraPetch";
  src: url("../fonts/ChakraPetch-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ChakraPetch";
  src: url("../fonts/ChakraPetch-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ChakraPetch";
  src: url("../fonts/ChakraPetch-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "ChakraPetch";
  src: url("../fonts/ChakraPetch-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-white: #FFFF;
  --color-black-100: #18181B;
  --color-black-50: #252532;
  --color-grey-1: #B0B0B2;
  --color-grey-2: #D1D1D1;
  --color-success: #00C566;
  --color-error: #FF4747;
  --color-warning: #FACC15;
  --color-linear: linear-gradient(90deg,#0CBAF1,#E95CE9);
  --color-purple: #CA6AEB;
  --color-blue: #19B5F1;
  --font-family-base: "ChakraPetch", sans-serif;
  --container-width: 90.625rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 50.37375rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 50.37375rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-grey-2);
  background-color: var(--color-black-100);
}

main {
  flex-grow: 1;
}

h1, .h1 h2,
.h2 h3,
.h3 h4,
.h4 h5,
.h5 h6,
.h6 {
  color: var(--color-white);
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(3rem, 2.5742574257rem + 1.5841584158vw, 4rem);
  line-height: 1;
}

h1, .h1 h2,
.h2 {
  font-weight: 600;
}

h2, .h2 {
  font-size: clamp(2rem, 1.5742574257rem + 1.5841584158vw, 3rem);
  line-height: 0.58;
}

h3, .h3 {
  font-size: clamp(1.75rem, 1.75rem + 0vw, 1.75rem);
  line-height: 1;
}

h4, .h4 {
  font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
}

h5, .h5 {
  font-size: clamp(1rem, 1rem + 0vw, 1rem);
  font-weight: 500;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: var(--color-white);
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-white);
    font-weight: 500;
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-white);
    font-weight: 500;
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-white);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
}

.nowrap {
  white-space: nowrap;
}

@media (max-width: 390px) {
  .footer__menu-logo {
    display: none;
  }
  .soc1als__list-item {
    margin-right: 0.625rem;
  }
}
.header {
  position: sticky;
  z-index: 100;
  top: 0;
  background-color: var(--color-black-100);
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 6.25rem 12.5rem;
}
@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-grey-1);
  }
}
.header__body {
  padding-block: 1.5rem;
}
.header__body-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
}
@media (width > 50.37375rem) {
  .header__overlay {
    display: contents;
  }
}
@media (width <= 50.37375rem) {
  .header__overlay {
    position: fixed;
    inset: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
    background-color: var(--color-black-100);
    transition-duration: var(--transition-duration);
  }
  .header__overlay:not(.is-active) {
    opacity: 0;
    visibility: hidden;
    translate: 100%;
  }
}
@media (width <= 50.37375rem) {
  .header__menu {
    overflow-y: auto;
  }
}
.header__menu-list {
  display: flex;
  align-items: center;
  column-gap: 4rem;
}
@media (width <= 50.37375rem) {
  .header__menu-list {
    flex-direction: column;
    row-gap: 1rem;
  }
}
.header__menu-link.is-active {
  pointer-events: none;
  font-weight: 500;
}
@media (width <= 50.37375rem) {
  .header__contact-us-link {
    width: 100%;
    max-width: 18.75rem;
    align-self: center;
  }
}

.logo {
  max-width: clamp(6.3125rem, 6.3125rem + 0vw, 6.3125rem);
}

.burger-button {
  width: 2rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.1875rem;
  padding: 0.53125rem 0.265625rem;
  color: var(--color-white);
  background-color: transparent;
  border-width: 1px;
  border-style: solid;
  border-image: var(--color-linear) 1;
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: black;
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: black;
  }
}
.burger-button.is-active .burger-button__line:nth-child(1) {
  rotate: 45deg;
  translate: 0.1rem 0.3rem;
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  width: 80%;
  rotate: -45deg;
}
.burger-button.is-active .burger-button__line:nth-child(3) {
  width: 0;
}
.burger-button__line {
  width: 80%;
  align-self: end;
  margin-right: 0.1875rem;
  height: 0.125rem;
  background-color: white;
  border-radius: 1rem;
  transition-duration: var(--transition-duration);
}
.burger-button__line:nth-child(2) {
  width: 50%;
}
.burger-button__line:last-child {
  width: 30%;
}

.button {
  display: inline-flex;
  justify-content: center;
  padding: 1.125rem 2.375rem;
  font-size: 0.875rem;
  font-weight: 700;
  color: var(--color-white);
  white-space: nowrap;
  border-width: 1px;
  border-style: solid;
  border-image: var(--color-linear) 1;
}
@media (any-hover: hover) {
  .button:hover {
    font-weight: 700;
    background-color: #252532;
  }
}
@media (any-hover: none) {
  .button:active {
    font-weight: 700;
    background-color: #252532;
  }
}
.button--accent {
  transition: all 0.3s;
  background: var(--color-linear);
  cursor: pointer;
}
@media (any-hover: hover) {
  .button--accent:hover {
    transform: scale(1.05);
  }
}
@media (any-hover: none) {
  .button--accent:active {
    transform: scale(1.05);
  }
}

.soc1als__list {
  display: flex;
  margin-top: 6.25rem;
  gap: 1.25rem;
}
@media (width <= 63.99875rem) {
  .soc1als__list {
    margin-top: 0rem;
  }
}
@media (width <= 50.37375rem) {
  .soc1als__list {
    gap: 0.625rem;
  }
}
.soc1als__list-item-button {
  background-color: var(--color-black-100);
  display: flex;
  height: 2.875rem;
  width: 2.875rem;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 30px;
  background: linear-gradient(var(--color-black-100), var(--color-black-100)) padding-box, var(--color-linear) border-box;
  background-origin: padding-box, border-box;
  background-clip: padding-box, border-box;
  transition: all 0.5s;
}
.soc1als__list-item-button:hover {
  transform: scale(1.1);
}

.footer {
  background-image: url(/images/footer/socials/decoration.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;
}
.footer__body {
  padding-block: clamp(2.5rem, 1.4356435644rem + 3.9603960396vw, 5rem);
  height: auto;
  border-bottom: 20px solid var(--color-white);
}
.footer__menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: start;
  column-gap: clamp(1.25rem, -0.3465346535rem + 5.9405940594vw, 5rem);
}
@media (width <= 63.99875rem) {
  .footer__menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "first first first first" "second second third third" "fourth fourth fourth fourth";
  }
}
.footer__menu-column {
  display: grid;
  row-gap: clamp(1rem, 1rem + 0vw, 1rem);
}
@media (width <= 63.99875rem) {
  .footer__menu-column {
    margin-top: 3.125rem;
  }
  .footer__menu-column:nth-child(1) {
    grid-area: first;
    display: flex;
    justify-content: center;
    gap: 5rem;
  }
}
@media (width <= 63.99875rem) and (width <= 30.06125rem) {
  .footer__menu-column:nth-child(1) {
    gap: 0;
    justify-content: space-between;
  }
}
@media (width <= 63.99875rem) {
  .footer__menu-column:nth-child(2) {
    grid-area: second;
  }
  .footer__menu-column:nth-child(3) {
    grid-area: third;
  }
  .footer__menu-column:nth-child(4) {
    grid-area: fourth;
  }
}
.footer__menu-main-link {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--color-white);
}
.footer__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(1rem, 1rem + 0vw, 1rem);
}
.footer__menu-item {
  display: flex;
  align-items: center;
  font-size: 1rem;
}
.footer__menu-item img {
  margin-right: 0.4375rem;
  max-width: 1.125rem;
  max-height: 1.125rem;
}
.footer__menu-link {
  color: var(--color-grey-1);
}
.footer-extra {
  border-width: 0px;
  border-top-width: 1px;
  border-style: solid;
  border-image: var(--color-linear) 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}
.footer-extra-text {
  padding-top: clamp(2rem, 2rem + 0vw, 2rem);
  padding-bottom: clamp(2.5rem, 2.3137376238rem + 0.6930693069vw, 2.9375rem);
}

.metrics {
  display: flex;
}

.team {
  --personImageSize: 3.75rem;
  display: flex;
  align-items: center;
}

.hero__team-subcribe {
  margin-left: 0.9375rem;
}

.hero__metrics-team__person {
  width: var(--personImageSize);
  border: 0.125rem solid var(--color-black-100);
  border-radius: 3.125rem;
}
.hero__metrics-team__person:not(:first-child) {
  margin-left: calc(var(--personImageSize) / 3.5 * -1);
}

.number-happy {
  font-weight: 600;
  color: var(--color-white);
}

.resources-preview {
  position: relative;
}
.resources-preview::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(/images/background/1.svg) no-repeat center bottom;
  z-index: -1;
  filter: blur(3.75rem);
}

.hero__advantages {
  background-color: #252532;
  margin-bottom: 7.5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.hero__advantages-photo {
  padding-top: 2.9375rem;
  padding-bottom: 2.9375rem;
}
.hero__advantages-title {
  font-size: 1.25rem;
  color: var(--color-white);
}
.hero__advantages-subtitle {
  font-size: 0.875rem;
  line-height: 1.75rem;
  padding-bottom: 3.375rem;
}
.hero__advantages-column {
  max-width: 20.25rem;
}

.hero__main {
  display: grid;
  grid-template-columns: 45% auto;
  grid-template-areas: "body resourсes-preview" "metrics resourсes-preview";
}
.hero__body {
  grid-area: body;
  padding-top: 5.625rem;
  padding-right: 3.125rem;
  padding-bottom: 2.625rem;
}
.hero__metrics {
  grid-area: metrics;
}
.hero__resources-preview {
  grid-area: resourсes-preview;
  justify-self: center;
}
.hero__title {
  padding-bottom: 0.75rem;
  font-size: clamp(3rem, 2.5742574257rem + 1.5841584158vw, 4rem);
  font-weight: 600;
}
.hero__subtitle {
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-grey-2);
  white-space: nowrap;
}
.hero__button {
  text-transform: uppercase;
  margin-top: 2rem;
}
.hero__photo {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
.hero__video {
  display: flex;
  background-color: #21232E;
  min-width: 12.25rem;
  max-height: 7.9375rem;
  align-items: center;
  justify-content: center;
  margin-left: 4.6875rem;
}
.hero__video-photolink {
  position: relative;
}
.hero__video-play {
  display: flex;
  align-items: center;
  width: 1.75rem;
  height: 1.75rem;
  justify-content: center;
  position: absolute;
  top: 42%;
  left: 51%;
  transform: translate(-50%, -50%);
  background: none;
  border: 0.0625rem solid var(--color-white);
  border-radius: 50%;
}

/*# sourceMappingURL=main.css.map */
